# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# Kernel Build Results
obj/
bin/
build/
target
user/asm/
user/build/
user/target/
kernel/kernel
kernel/kernel_app.ld
link_app.S

# vscode
.vscode/
.DS_Store

*.asm
*.sym
