# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# Kernel Build Results
obj/
bin/
build/

# vscode
.vscode/

# extra
!fw_jump.elf